<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value="E:\My Documents\Documents\Visual Studio 2012\Projects\sendMail\sendMail\mailList.txt" />
    <add key="connString" value="Data Source=10.10.10.4;Initial Catalog=WaterSupply;User ID=gxadmin;Password=gxems#21" />
    <add key="intv" value="20" />
  </appSettings>
</configuration>